[binlog1]
hostname=192.168.80.93
master_binlog_dir=/mdata/binlog_server/
no_master=1

[server default]
check_repl_delay=0
log_level=info
manager_log=/usr/local/mha/logs/app1/manager.log
manager_workdir=/usr/local/mha/app1
master_binlog_dir=/mdata/mysql/logs/binlog
master_ip_failover_script=/usr/local/mha/scripts/scripts/master_ip_failover_keepalived
master_ip_online_change_script=/usr/local/mha/scripts/scripts/master_ip_online_change_keepalived
password=Lft123456~
ping_interval=1
ping_type=CONNECT
remote_workdir=/tmp
repl_password=Lft123456~
repl_user=rpl
report_script=/usr/local/mha/scripts/scripts/send_report
secondary_check_script=/usr/bin/masterha_secondary_check -s 192.168.80.92 -s 192.168.80.93 --user=root --master_host=192.168.80.91 --master_port=3306
ssh_user=root
user=mha

[server1]
candidate_master=1
check_repl_delay=0
hostname=192.168.80.91
port=3306

[server2]
candidate_master=1
check_repl_delay=0
hostname=192.168.80.92
port=3306

[server3]
hostname=192.168.80.93
no_master=1
port=3306
